<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/login/css/login.css">
    <title>登录</title>
</head>
<body>
    <div class="loginbox">
        <div class="header">
          <div class="k1">
            <a href="/" class="logo" style="float: left;"></a>
            <!-- <h1 class="hospitaltitle">EUSE管理系统</h1> -->
          </div>
        </div>
        <div class="main main_bg1 main_bg2">
          <div class="k1">
            <div class="login r">
              <ul class="hd" id="hd">
                <li class="on">EUSE管理系统</li>
              </ul>
              <ul class="bd" id="bd">
                <li style="display: block;">
                  <form name="formLogin" action method="post">
                    <input type="text" class="tex" placeholder="账号" name="mobile_phone">
                    <input type="password" class="tex tex2" placeholder="密码" name="password">
                    <!-- <p style="font-size: 16px;color:#666;">
                      验证码：
                      <input
                        type="text"
                        class="tex tex2"
                        style="width: 100px;padding-left: 5px;"
                        placeholder="验证码"
                      >
                      <span class="yzm">DFJ6</span>
                      <span class="changeimg">看不清，换一张</span>
                    </p>-->
                    <div class="forgive">
                      <label class="l">
                        <input type="checkbox" class="che" value="1" name="remember" id="remember">
                        自动登录
                      </label>
                      <a href class="a2 r">忘记密码?</a>
                    </div>
                    <div class="clear"></div>
                    <input class="but" type="button" value="登     录">
                    <a class="but register">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</a>
                  </form>
                  <!-- <p class="p2">
                            <a href="">免费注册</a>丨
                            <a href="">忘记密码</a>
                  </p>-->
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer">
          <p>Copyright©2019 EUSE@www.zhangqiangwo@qq.com 版权所有</p>
        </div>
      </div>
</body>
</html>